@using System.Security.Claims
@model IEnumerable<Product>

@{
    ViewData["Title"] = "فروشگاه تک کالا";
}
    <html>
    <body>
        <div class="bg-light">
            <div class="container">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <li data-target="#demo" data-slide-to="3"></li>
                        <li data-target="#demo" data-slide-to="4"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <a href="#"><img src="~/Images/Slides/1.jpg" style="width:100%;" /></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img src="~/Images/Slides/2.jpg" style="width:100%;" /></a>
                        </div>
                        <div class="carousel-item active">
                            <a href="#"><img src="~/Images/Slides/3.jpg" style="width:100%;" /></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img src="~/Images/Slides/4.jpg" style="width:100%;" /></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img src="~/Images/Slides/5.jpg" style="width:100%;" /></a>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </div>
        <div class="bg-light" style="margin-top:5%; width:100%;height:auto;">
            <div>

                <h4 style="margin-top:10px;padding-top:15px;padding-right:10%;text-align:right;font-family:IRANYekan,sans-serif;padding-bottom:30px;">جدیدترین محصولات در تک کالا</h4>



                <div class="container" dir="rtl">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.status == 1)
                            {
                                <div class="col-md-3" style="float:right;font-family:IRANYekan,sans-serif;" dir="rtl">
                                    <div class="card mb-4 shadow-sm">
                                        <a asp-controller="Product" asp-action="GetProductByid" asp-route-id="@item.ProductId">
                                            <img src="~/Images/@item.ImageName" width="100%" height="225" style="padding:7px 7px 7px 7px;" />
                                        </a>
                                        <div class="card-body">

                                            <p class="card-text" style="text-align:right;">@item.ProductName</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-dark" style="font-weight:bolder;font-family:'B Mitra';">@item.Price2 تومان</small>

                                                <div class="btn-group">
                                                    <a asp-controller="Order" asp-action="AddtoCard" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-danger">+ به سبد خرید</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>

                </div>

            </div>
        </div>

        <div class="bg-light" style="margin-top:5%; width:100%;height:auto;">
            <div>

                <h4 style="margin-top:10px;padding-top:15px;padding-right:10%;text-align:right;font-family:IRANYekan,sans-serif;padding-bottom:30px;">پرفروش ترین محصولات در تک کالا</h4>



                <div class="container" dir="rtl">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.status == 4)
                            {
                                <div class="col-md-3" style="float:right;font-family:IRANYekan,sans-serif;" dir="rtl">
                                    <div class="card mb-4 shadow-sm">
                                        <a href="#">
                                            <img src="~/Images/@item.ImageName" width="100%" height="225" style="padding:7px 7px 7px 7px;" />
                                        </a>
                                        <div class="card-body">

                                            <p class="card-text" style="text-align:right;">@item.ProductName</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                               
                                                <small class="text-dark" style="font-weight:bolder;font-family:'B Mitra';">@item.Price2 تومان</small>

                                                <div class="btn-group">
                                                    <a asp-controller="Order" asp-action="AddtoCard" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-danger">+ به سبد خرید</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>

                </div>

            </div>
        </div>

        <div class="bg-light" style="margin-top:5%; width:100%;height:auto;">
            <div>

                <h4 style="margin-top:10px;padding-top:15px;padding-right:10%;text-align:right;font-family:IRANYekan,sans-serif;padding-bottom:30px;">تخفیفات ویژه</h4>



                <div class="container" dir="rtl">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.status == 3)
                            {
                                <div class="col-md-3" style="float:right;font-family:IRANYekan,sans-serif;" dir="rtl">
                                    <div class="card mb-4 shadow-sm">
                                        <a href="#">
                                            <img src="~/Images/@item.ImageName" width="100%" height="225" style="padding:7px 7px 7px 7px;" />
                                        </a>
                                        <div class="card-body">

                                            <p class="card-text" style="text-align:right;">@item.ProductName</p>
                                            <div>

                                                @{
                                                    double c = item.Price;
                                                    double d = item.Price2;
                                                    double e = d / c;
                                                    double f = 1 - e;
                                                    double g = e*100;
                                                    double h = 100 - g;
                                                }
                                                <p class="text-dark" style="font-weight:bolder;font-family:'B Mitra';text-align:right;"><del class="text-muted"> @item.Price </del><span style="margin-right:5px;font-family:'B Yekan';font-size:16px;" class="badge badge-danger" >@h %</span></p>

                                                <p class="text-dark" style="font-weight:bolder;font-family:'B Mitra';text-align:right;font-size:16px;"> @item.Price2 تومان</p>

                                                <div class="btn-group" style="text-align:center;margin-left:25%;">
                                                    <a asp-controller="Order" asp-action="AddtoCard" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-primary">+ به سبد خرید</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>

                </div>

            </div>
        </div>

    </body>
    </html>