@using PagedList.Core.Mvc;
@using PagedList;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "محصولات";
}
<html>
<head>

    <style>

        #panel1 a {
            font-family: 'B Yekan';
            padding-top: -3px;
            background-color: rgb(153, 235, 255);
        }
        .filtering ul li{
            display:inline-block;
        }

        #pricechoice {
            margin: 10px 5px 10px 5px;
            width: 100%;
            height: auto;
        }

        input {
            margin-bottom: 8px;
            margin-left: 5px;
        }
    </style>

    <script>
        $(document).ready(function{
              $("#accordion").accordion();
        })

    </script>
</head>
<body>

    <div class="col-md-3 bg-light" dir="rtl" style="float:right; width:20%;">
        <div dir="rtl" style="text-align:right;">

        </div>
        <div id="pricechoice" dir="rtl" style="font-family:'B Yekan'" ;>
            <div class=" dropdown show">
                <a style="margin-left:20px;margin-right:-5px;" class="btn  btn-secondary btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    جست و جو براساس قیمت
                </a>

                <div class="dropdown-menu btn btn-block" aria-labelledby="dropdownMenuLink" dir="rtl" style="text-align:right;">
                    <a class="dropdown-item" href="@Url.Action("GetAllBySGID","Product",new { choiceprice="1"})"><i class="fa fa-check-square-o" aria-hidden="true"></i>  کمتر از 1 میلیون تومان</a>
                    <a class="dropdown-item" href="@Url.Action("GetAllBySGID","Product",new { choiceprice="2"})"><i class="fa fa-check-square-o" aria-hidden="true"></i>  بین 1 تا 5 میلیون تومان</a>

                    <a class="dropdown-item" href="@Url.Action("GetAllBySGID","Product",new { choiceprice="3"})"><i class="fa fa-check-square-o" aria-hidden="true"></i>  بین 5 تا 10 میلیون تومان</a>
                    <a class="dropdown-item" href="@Url.Action("GetAllBySGID","Product",new { choiceprice="4"})"><i class="fa fa-check-square-o" aria-hidden="true"></i>  بین 10 تا 20 میلیون تومان</a>
                    <a class="dropdown-item" href="@Url.Action("GetAllBySGID","Product",new { choiceprice="5"})"><i class="fa fa-check-square-o" aria-hidden="true"></i>  بیشتر از 20 میلیون تومان</a>
                </div>
            </div>
        </div>







    </div>

    <div class="col-md-9 bg-light">
        <p  style="text-align:right;padding-top:18px;font-family:IRANYekan,sans-serif;">: مرتب سازی بر اساس </p>
        <div class="filtering" >

            <ul dir="rtl" style="text-align:right;padding-bottom:15px;margin-top:-43px;margin-right:130px;font-family:IRANYekan,sans-serif;">
                <li>
                    <a class="btn btn-sm  btn-outline-primary " href="@Url.Action("GetAllBySGID","Product",new { sorting="1"})">جدیدترین</a>
                </li>
                <li>
                    <a class="btn btn-sm  btn-outline-primary" href="@Url.Action("GetAllBySGID","Product",new { sorting="2"})">پرفروش ترین</a>
                </li>
                <li>
                    <a class="btn btn-sm  btn-outline-primary" href="@Url.Action("GetAllBySGID","Product",new { sorting="4"})">گران ترین</a>
                </li>
                <li>
                    <a class="btn btn-sm   btn-outline-primary" href="@Url.Action("GetAllBySGID","Product",new { sorting="5"})">ارزان ترین</a>
                </li>
            </ul>


        </div>
        <div class="row" style="padding-top:20px;" dir="rtl">
            @foreach (var item in Model)
            {

                <div class="col-md-3" style="float:right;font-family:IRANYekan,sans-serif; padding-top:10px;">
                    <div class="card mb-4 shadow-sm" dir="rtl">
                        <a asp-controller="Product" asp-action="GetProductByid" asp-route-id="@item.ProductId">
                            <img src="~/Images/@item.ImageName" width="100%" height="225" style="padding:7px 7px 7px 7px;" />
                        </a>
                        <div class="card-body">

                            <p class="card-text" style="text-align:right;">@item.ProductName</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-dark" style="font-weight:bolder;font-family:'B Mitra';">@item.Price2.ToString("#,0") تومان</small>

                                <div class="btn-group">
                                    <a asp-controller="Order" asp-action="AddtoCard" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-danger">+ به سبد خرید</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
            <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="GetAllBySGID" asp-controller="Product" />
        </div>

    </div>

</body>
</html>
